@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
main {
  height: 100vh;
  font-family: "Lexend Deca", sans-serif;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* header styles */
header {
  background-color: #1a1c28;
  padding: 2rem;
  width: 100%;
  font-size: 1.5rem;
}
ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

a {
  color: white;
  text-decoration: none;
}
/* header styles */

/* .grid-container {
  background-color: #1a1c28;
  display: grid;
  grid-template-columns: 100px 80px;
  grid-template-rows: auto auto;
  gap: 10px;
  padding: 20px;
} */

.row1 {
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 9rem 7rem;
  grid-template-rows: 5rem;
  gap: 10px;
}
.row2 {
  display: grid;
  grid-template-columns: 7rem 9rem;
  grid-template-rows: 2.5rem 2.5rem;
  gap: 10px;
}
.grid-container {
  background-color: #1a1c28;
  padding: 3rem 2rem;
}

.red {
  background-color: #eb5020;
}
.blue {
  background-color: #01aefd;
}
.yellow {
  background-color: #ffa401;
}
.green {
  grid-row: 1 / span 2;
  background-color: #05aa42;
}
